source https://nuget.org/api/v2
source https://ci.appveyor.com/nuget/fsharp-formatting

nuget FSharp.Core

nuget Argu

nuget SourceLink.Fake
nuget FAKE
nuget FSharp.Formatting 3.0.0-beta08 beta
nuget FsLexYacc

github fsharp/FAKE modules/Octokit/Octokit.fsx

nuget NUnit ~> 2
nuget NUnit.Runners ~> 2