source https://nuget.org/api/v2

nuget FSharp.Core

nuget Argu

nuget SourceLink.Fake
nuget FAKE
nuget FSharp.Formatting
nuget FsLexYacc

github fsharp/FAKE modules/Octokit/Octokit.fsx

nuget NUnit ~> 2
nuget NUnit.Runners ~> 2